@charset "UTF-8";

/* Todas as demais mídias*/

@media print { /* IMPRESSÃO */
    
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site: https://thiagomonts.github.io/ThiagoHonorato/';
        text-decoration: overline;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */

}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    main {
        width: 700px;
    }
}