@charset "UTF-8";

/* Versão Mobbile First */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --cor0: #040F0F;
    --cor1: #797270;
    --cor2: #3D52D5;
    --cor3: #0496FF;
    --cor4: #FCFFFC;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Satisfy', cursive;
}

* {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

header {
    background-color: var(--cor0);
}

header > p {
    font-family: var(--fonte-destaque);    
    font-weight: bolder;
    font-size: 1.3em;
    color: var(--cor3);
    padding: 10px;
    text-align: center;

}

span#burguer {
    background-color: var(--cor0);
    color: var(--cor3);
    display: block;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: var(--cor4);
    color: var(--cor3);
}

span#light_mode {
    background-color: var(--cor0);
    color: var(--cor3);
    display: block;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

span#light_mode:hover{
    background-color: var(--cor4);
    color: var(--cor3);
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    background-color: var(--cor3);
    color: white;
    border-top: 2px solid black;
}

nav > ul > li > a:hover  {
    background-color: var(--cor4);
    color: var(--cor0);
}

nav > ul > li > a > span {
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;
}

body {
    background: var(--cor0);
}

main {
    background-color: var(--cor4);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

section > h1 {
    background-color: var(--cor3);
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

section > h2 {
    text-align: center;
    padding-bottom: 20px;
}

section > p {
    text-align: justify;
    margin: 10px;
    text-indent: 20px;
}

h1 {
    text-align: center;
    color: var(--cor4);
    font-size: 2em;
    box-shadow: 2px 2px 2px var(--cor0);
}

img {
    display: block;
    margin: auto;
    border-radius: 20px;
}

img#ola {
    width: 300px;
}

img#minhafoto {
    width: 180px;

}

img#logo {
    width: 80px;
    padding: 10px;
    border-radius: 0px;
}

footer {
    background-color: var(--cor0);
    color: var(--cor4);
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a {
    color: var(--cor4);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
}



/*
body {
    background-color: rgb(0, 0, 0);
    color: var(--cor5);
}

main {
    width: 800px;
    margin: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--cor5);
}

header p {
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
}

header p:hover {
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    font-size: 1.4em;
    color: fuchsia;
}

nav {
    display: flex;
    text-shadow: 0px 7px 7px rgba(255, 255, 255, 0.472);
}

nav a {
    color: var(--cor5);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor5);
    color: white;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav li {
    list-style: none;
    margin: 10px;
}

section {
    padding: 30px;
    justify-content: space-between;
}

.ola img {
    border-radius: 20px;
    width: 300px;
}

.sobre img {
    width: 150px;
}

.flex {
    display: flex;
    align-items: center;
}

footer {
    background-color: var(--cor);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor5);
}
*/