@charset "UTF-8";

/* Versão Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --cor0: #040F0F;
    --cor1: #797270;
    --cor2: #3D52D5;
    --cor3: #0496FF;
    --cor4: #FCFFFC;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Satisfy', cursive;
}

* {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: var(--cor4);
}

body.dark {
    background: var(--cor0);
    color: var(--cor4);
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > p {
    font-family: var(--fonte-destaque);    
    font-weight: bolder;
    font-size: 2.5em;
    color: var(--cor3);
    padding: 10px;
    text-align: center;

}

span#burguer {
    color: var(--cor3);
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: var(--cor1);
    color: var(--cor3);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: var(--cor1);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor4);
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    right: 15px;
    transform: scale(1.3);
}

.label .ball {
    background-color: var(--cor4);
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    
    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--cor3);
}

.fa-sun {
    color: var(--cor3);
}

/*span#light_mode {
    background-color: var(--cor0);
    color: var(--cor3);
    display: block;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

span#light_mode:hover{
    background-color: var(--cor4);
    color: var(--cor3);
}*/

#menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0%;
    height: calc(100vh - 70px);
    z-index: 1000;
    justify-content: baseline;
}

#menu.active {
    display: block;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    background-color: var(--cor3);
    color: white;
    border-top: 2px solid black;
}

nav > ul > li > a:hover  {
    background-color: var(--cor4);
    color: var(--cor0);
}

nav > ul > li > a > span {
    text-align: center;
    padding-right: 10px;
    vertical-align: middle;
}

main {
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

section {
    margin-bottom: 150px;
}

section#contato{
    margin-bottom: 20px;
}

section > h1 {
    background-color: var(--cor3);
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

section > h2 {
    text-align: center;
    padding-bottom: 20px;
}

section > p {
    text-align: justify;
    margin: 10px;
    text-indent: 20px;
}

section.projetos > a {
    text-decoration: none;
}

section.projetos > a:hover {
    text-decoration: none;
    color: var(--cor3);
}

section.projetos > a > div > img {
    width: 200px;
    padding: 10px;
}

section.projetos > a > div > p {
    text-align: center;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--cor4);
    font-size: 2em;
    box-shadow: 3px 3px 7px 2px var(--cor1);
}

img {
    display: block;
    margin: auto;
}

img#ola {
    width: 300px;
    border-radius: 20px;
}

img#minhafoto {
    width: 180px;
    border-radius: 20px;
}

img#logo {
    width: 80px;
    padding: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.btn i {
    line-height: 90px;
    font-size: 25px;
    transition: 0.2s linear;
}

.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: var(--cor3);
    margin: 10px;
    border-radius: 30%;
    position: relative;
    box-shadow: 0 5px 15px -5px var(--cor0);
    color: var(--cor4);
    overflow: hidden;
}

.btn:hover i{
    transform: scale(1.4);
    color: var(--cor3);
}

.btn::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    background-color: var(--cor4);
}

.btn:hover::before{
    animation: social 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes social {
    0% {
        top: 90%;
        left:-110%;
    }

    50% {
        top: -30%;
        left:10%;
    }

    100%{
        top: -10%;
        left:-10%;
    }
}


footer {
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a {
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
}
